@model IEnumerable<ISW2PDT5.seccion_bodega>

@{
    ViewBag.Title = "Secciones de Bodega";
}
<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="panel-title">
            Mantenimientos de Secciones de Bodega
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-2">
                <div class="btn btn-default linkBlanco">
                    @Html.ActionLink("Crear Nuevo", "Create")
                </div>
            </div>
            <div class="col-lg-4 col-lg-offset-2">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="fa fa-search fa-2x"></span></span>
                        <input class="form-control input-lg" id="filter" type="text" />
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="container table-responsive toggle-circle-filled">
            <div class="col-lg-11">
                <table data-filter="#filter" data-filter-text-only="true" class="table" data-page-size="3">
                    <thead>
                        <tr>
                            <th data-sort-initial="true" data-type="numeric">
                                ID
                            </th>
                            <th>
                                Nombre de la Seccion de bodega
                            </th>
                            <th data-sort-ignore="true"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.id_seccion_bodega)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.secc_bod_desc)
                                </td>
                                <td>
                                    <ul class="nav nav-pills">
                                        <li role="presentation">@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ })</li>
                                        <li role="presentation">@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ })</li>
                                        <li role="presentation">@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })</li>
                                    </ul>
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4">
                                <div class="pagination pagination-centered hide-if-no-paging"></div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>