@model ISW2PDT5.departamento

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>departamento</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.id_departamento)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.id_departamento)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.dep_nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dep_nombre)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
