<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>GASISW - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/fontawesome")
    @Scripts.Render("~/bundles/modernizr")
    <link type="text/css" rel="stylesheet" href="~/Content/bootstrap.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/footable.core.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/footable.metro.css" />   
</head>
<body>
    <!-- Navegador Superior -->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">GASISW</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <span class="fa fa-user fa-2x"></span> Baltazar Lopez
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Perfil</a></li>
                            <li><a href="#"><span class="fa fa-sign-out fa-2x"></span> Cerrar Sesion</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2">
                <div id="accordion" class="panel-group">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#Mantenimientos">
                                    <span class="fa fa-pencil fa-2x"></span>Mantenimientos
                                </a>
                            </h4>
                        </div>
                        <div id="Mantenimientos" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul class="nav nav-stacked">
                                    <li>@Html.ActionLink("Categorias de Productos", "Index", "CategoriaProducto")</li>
                                    <li>@Html.ActionLink("Departamento", "Index", "Departamento")</li>
                                    <li>@Html.ActionLink("Municipio", "Index", "Municipio")</li>
                                    <li>@Html.ActionLink("Sucursal", "Index", "Sucursal")</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#Procesos">
                                    <span class="fa fa-exchange fa-2x"></span>Procesos
                                </a>
                            </h4>
                        </div>
                        <div id="Procesos" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>Aqui iran los Procesos</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#Consultas">
                                    <span class="fa fa-search fa-2x"></span>Consultas y Reportes
                                </a>
                            </h4>
                        </div>
                        <div id="Consultas" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>Aqui iran las Consultas y los Reportes</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#Opciones">
                                    <span class="fa fa-cog fa-2x"></span>Opciones del Sistema
                                </a>
                            </h4>
                        </div>
                        <div id="Opciones" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>Aqui iran las Consultas y los Reportes</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-10">
                @RenderBody()
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <footer>Universidad Francisco Gavidia | Ingenieria del Software 2 | Grupo 1 | 2015</footer>
            </div>
        </div>
    </div>   

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/footable.js"></script>
    <script type="text/javascript" src="~/Scripts/footable.paginate.js"></script>
    <script type="text/javascript" src="~/Scripts/footable.sort.js"></script>
    <script type="text/javascript" src="~/Scripts/footable.filter.js"></script>
    <script type="text/javascript">
    $(document).ready(function () {
        $("table").footable();
    });
    </script>
</body>
</html>
