@model ISW2PDT5.municipio

@{
    ViewBag.Title = "Delete";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="panel-title">
            Eliminar Municipio
        </div>
    </div>
    <div class="panel-body">
        <h3>Esta seguro que desea eliminar este municipio?</h3>
        <fieldset>
            <div class="form-group">
                <div class="editor-label">
                    ID del municipio
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.id_municipio)
                </div>
            </div>

            <div class="form-group">
                <div class="editor-label">
                    Nombre del Municipio
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.mun_nom)
                </div>
            </div>

            <div class="form-group">
                <div class="editor-label">
                    Nombre del Departamento
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.departamento.dep_nombre)
                </div>
            </div>

        </fieldset>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                <input type="submit" value="Eliminar" class="btn btn-primary" />
                <div class="btn btn-default">
                    @Html.ActionLink("Regresar", "Index")
                </div>
            </div>
        }
    </div>
</div>