@model ISW2PDT5.municipio

@{
    ViewBag.Title = "Details";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="panel-title">
            Detalles del Municipio
        </div>
    </div>
    <div class="panel-body">
        <fieldset>
            <div class="form-group">
                <div class="editor-label">
                    ID del municipio
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.id_municipio)
                </div>
            </div>

            <div class="form-group">
                <div class="editor-label">
                    Nombre del Municipio
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.mun_nom)
                </div>
            </div>

            <div class="form-group">
                <div class="editor-label">
                    Nombre del Departamento
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.departamento.dep_nombre)
                </div>
            </div>


        </fieldset>
        <ul class="nav nav-pills">
            <li role="presentation"> @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ id = Model.id_municipio })</li>
            <li role="presentation"> @Html.ActionLink("Back to List", "Index")</li>
        </ul>
    </div>
</div>