@model IEnumerable<ISW2PDT5.municipio>

@{
    ViewBag.Title = "Municipio";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="panel-title">
            Mantenimientos de Municipio
        </div>
    </div>
    <div class="panel-body">
        <div class="btn btn-default linkBlanco">
            @Html.ActionLink("Create New", "Create")
        </div>
        <br />
        <br />
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.id_municipio)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.mun_nom)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.departamento.dep_nombre)
                    </th>
                    <th></th>
                </tr>
            </thead>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.id_municipio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.mun_nom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.departamento.dep_nombre)
                    </td>
                    <td>
                        <ul class="nav nav-pills">
                            <li role="presentation">@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ })</li>
                            <li role="presentation">@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ })</li>
                            <li role="presentation">@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })</li>
                        </ul>
                    </td>
                </tr>
            }

        </table>
    </div>
</div>